@model AMS.Models.CommentViewModel.CommentCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr><th>@Resource.Id</th><td>@Model.Id</td></tr>
            <tr><th>@Resource.AssetId</th><td>@Model.AssetId</td></tr>
            <tr><th>@Resource.AssetName</th><td>@Model.AssetName</td></tr>
            <tr><th>@Resource.Message</th><td>@Model.Message</td></tr>
            <tr><th>@Resource.IsDeleted</th><td>@Model.IsDeleted</td></tr>
            <tr><th>@Resource.CreatedDate</th><td>@Model.CreatedDate</td></tr>
            <tr><th>@Resource.ModifiedDate</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>@Resource.CreatedBy</th><td>@Model.CreatedBy</td></tr>
            <tr><th>@Resource.ModifiedBy</th><td>@Model.ModifiedBy</td></tr>
            <tr><th>@Resource.Cancelled</th><td>@Model.Cancelled</td></tr>
        </table>
    </div>
</div>
