<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;@Resource.CommentList</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblComment" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.AssetId</th>
                        <th>@Resource.AssetName</th>
                        <th>@Resource.Message</th>
                        <th>@Resource.IsDeleted</th>
                        <th>@Resource.CreatedDate</th>
                        <th>@Resource.CreatedBy</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@{
    var title = Resource.CommentList;
    var yes = Resource.Yes;
    var del = Resource.Delete;
    var delmsg = Resource.Msg_Delete;
    var comdet = Resource.CommentDetails;
    var assetdet = Resource.AssetDetails;
}
<div id="resourcetitle" data-title="@title"></div>
<div id="resourceyes" data-yes="@yes"></div>
<div id="resourcedel" data-del="@del"></div>
<div id="resourcedelmsg" data-delmsg="@delmsg"></div>
<div id="resourcecomdet" data-comdet="@comdet"></div>
<div id="resourceassetdet" data-assetdet="@assetdet"></div>
<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/Comment/Comment_CRUD.js"></script>
<script src="~/js/Comment/Comment_Datatable.js"></script>

