@model AMS.Models.UserProfileViewModel.UserProfileCRUDViewModel

<table class="CustomBlueTable" border="1" style=" width:100%;margin:1px auto;">
    <tr>
        <th>@Resource.Id</th>
        <td>@Model.UserProfileId</td>
    </tr>
    <tr>
        <th>@Resource.ProfilePicture</th>
        <td>
            <div class="user-panel mt-2 pb-2 mb-2 d-flex">
                <div class="image">
                    <img src="@Model.ProfilePicture" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block" onclick="ViewImage('@Model.ProfilePicture', '@Model.FirstName')">
                        @Model.FirstName @Model.LastName
                    </a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>@Resource.ApplicationUserId</th>
        <td>@Model.ApplicationUserId</td>
    </tr>
    <tr>
        <th>@Resource.FirstName</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>@Resource.LastName</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>@Resource.Phone</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>@Resource.Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>@Resource.Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>@Resource.Country</th>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <th>@Resource.Date_of_Birth</th>
        <td>@Model.DateOfBirth</td>
    </tr>

    <tr>
        <th>@Resource.EmployeeId</th>
        <td>@Model.EmployeeId</td>
    </tr>
    <tr>
        <th>@Resource.Designation</th>
        <td>@Model.DesignationDisplay</td>
    </tr>
    <tr>
        <th>@Resource.Department</th>
        <td>@Model.DepartmentDisplay</td>
    </tr>
    <tr>
        <th>@Resource.SubDepartment</th>
        <td>@Model.SubDepartmentDisplay</td>
    </tr>
    <tr>
        <th>@Resource.JoiningDate</th>
        <td>@Model.JoiningDate</td>
    </tr>
    <tr>
        <th>@Resource.LeavingDate</th>
        <td>@Model.LeavingDate</td>
    </tr>
    <tr>
        <th>@Resource.UserRole</th>
        <td>@Model.RoleIdDisplay</td>
    </tr>

    <tr>
        <th>@Resource.CreatedDate</th>
        <td>@Model.CreatedDate</td>
    </tr>
    <tr>
        <th>@Resource.ModifiedDate</th>
        <td>@Model.ModifiedDate</td>
    </tr>
    <tr>
        <th>@Resource.CreatedBy</th>
        <td>@Model.CreatedBy</td>
    </tr>
    <tr>
        <th>@Resource.ModifiedBy</th>
        <td>@Model.ModifiedBy</td>
    </tr>
</table>
