@model AMS.Models.AssetCategorieViewModel.AssetCategorieCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr>
                <th>@Resource.Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Resource.Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>@Resource.Description</th>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <th>@Resource.CreatedDate</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedDate</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>@Resource.CreatedBy</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedBy</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
