@model AMS.Models.SubscriptionRequestViewModel.SubscriptionRequestCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr>
                <th>@Resource.Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Resource.Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>@Resource.TimeZone</th>
                <td>@Model.TimeZone</td>
            </tr>
            <tr>
                <th>@Resource.CreatedDate</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedDate</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>@Resource.CreatedBy</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedBy</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
