@model AMS.Models.ReportViewModel.ManageReportViewModel

@{
    ViewData["Title"] = Resource.AssetAllocationReport;
}

<div class="wrapper">

    <div class="col-sm-12" id="printableArea">
        <div class="panel panel-hash">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-9">
                        <h5><b>@Resource.AssetAllocationReport</b></h5>
                    </div>
                    <div class="col-sm-3 text-right hidden-print">
                        <button class="btn btn-info" onclick="printDiv('printableArea', 'ItemTranTable')"><span class="fa fa-print"></span></button>
                    </div>
                </div>
            </div>

            <div class="row hidden-print">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@Resource.Start_Date</label>
                        <input type="date" id="StartDate" class="form-control" placeholder="@Resource.Select @Resource.Start_Date" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@Resource.End_Date</label>
                        <input type="date" id="EndDate" class="form-control" placeholder="@Resource.Select @Resource.End_Date" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label><span></span></label>
                        <input type="submit" value="@Resource.Submit"
                               onclick="AssetAllocationReportByDate(document.getElementById('StartDate').value,document.getElementById('EndDate').value)"
                               class="form-control btn btn-danger">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label><span></span></label>
                        <input type="button" class="form-control btn btn-success" value="@Resource.Reset" onclick="AssetAllocationReport()" />
                    </div>
                </div>

                <div class="col-sm-2">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>@Resource.ShowDataMsg : @ViewBag.StartDate to @ViewBag.EndDate</label>
                </div>
            </div>

            <hr />
            <div class="panel-body scroll panel-height">
                <table class="ItemTranTable" style="width:100%;" border="1">
                    <thead>
                        <tr>
                            <th>@Resource.SL</th>
                            <th>@Resource.AssignedUser</th>
                            <th>@Resource.TotalAssigned</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int SL = 1;
                            double sumTotalAsset = 0;
                            @foreach (var item in Model.AllocationViewModel)
                            {
                                sumTotalAsset = sumTotalAsset + item.TotalAssigned;
                                <tr>
                                    <td>
                                        @SL
                                    </td>
                                    <td>
                                        <a href='#' onclick=AssignEmployeeInfo(@item.EmployeeId);>@item.UserName</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalAssigned)
                                    </td>
                                </tr>
                                SL++;
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><b>Σ:</b> @sumTotalAsset</td>
                        </tr>
                    </tfoot>
                </table>
                <hr />
                @{
                    var _TotalAssigned = @Model.AllocationViewModel.Where(x => x.UserName != "Unassigned").Sum(x => x.TotalAssigned);
                    var _TotalUnassigned = sumTotalAsset - _TotalAssigned;
                }

                <h5>@Resource.Summary</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <table class="ItemTranTable">
                            <tr><th style="width:50%;">@Resource.TotalAsset:</th><td>@sumTotalAsset</td></tr>
                            <tr><th>@Resource.TotalAssignedAsset:</th><td>@_TotalAssigned</td></tr>
                            <tr><th>@Resource.TotalUnassignedAsset:</th><td>@_TotalUnassigned</td></tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px;
        border-bottom: 0px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
</style>

<script src="~/js/Report.js"></script>
<script src="~/js/Asset/Asset_CRUD.js"></script>
