@model AMS.Models.ReportViewModel.ManageReportViewModel

@{
    ViewData["Title"] = Resource.AssetStatusReport;
}

<div class="wrapper">

    <div class="col-sm-12" id="printableArea">
        <div class="panel panel-hash">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-9">
                        <h5><b>@Resource.AssetStatusReport</b></h5>
                    </div>
                    <div class="col-sm-3 text-right hidden-print">
                        <button class="btn btn-info" onclick="printDiv('printableArea','ItemTranTable')"><span class="fa fa-print"></span></button>
                    </div>
                </div>
            </div>

            <div class="row hidden-print">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@Resource.Start_Date</label>
                        <input type="date" id="StartDate" class="form-control" placeholder="@Resource.Select @Resource.Start_Date" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>@Resource.End_Date</label>
                        <input type="date" id="EndDate" class="form-control" placeholder="@Resource.Select @Resource.End_Date" required>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label><span></span></label>
                        <input type="submit" value="@Resource.Submit"
                               onclick="AssetStatusReportByDate(document.getElementById('StartDate').value,document.getElementById('EndDate').value)"
                               class="form-control btn btn-danger">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label><span></span></label>
                        <input type="button" class="form-control btn btn-success" value="@Resource.Reset" onclick="AssetStatusReport()" />
                    </div>
                </div>

                <div class="col-sm-2">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>@Resource.ShowDataMsg : @ViewBag.StartDate to @ViewBag.EndDate</label>
                </div>
            </div>

            <h5>@Resource.TotalAsset: @Model.AssetStatusViewModel.Total</h5>
            <hr />
            <div class="panel-body scroll panel-height">
                <table class="ItemTranTable" style="width:100%;" border="1">
                    <thead>
                        <tr>
                            <th>@Resource.New</th>
                            <th>@Resource.InUse</th>
                            <th>@Resource.Available</th>
                            <th>@Resource.Damage</th>
                            <th>@Resource.Return</th>
                            <th>@Resource.Expired</th>
                            <th>@Resource.RequiredLicenseUpdate</th>
                            <th>@Resource.Miscellaneous</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.AssetStatusViewModel.New</td>
                            <td>@Model.AssetStatusViewModel.InUse</td>
                            <td>@Model.AssetStatusViewModel.Available</td>
                            <td>@Model.AssetStatusViewModel.Damage</td>
                            <td>@Model.AssetStatusViewModel.Return</td>
                            <td>@Model.AssetStatusViewModel.Expired</td>
                            <td>@Model.AssetStatusViewModel.RequiredLicenseUpdate</td>
                            <td>@Model.AssetStatusViewModel.Miscellaneous</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px;
        border-bottom: 0px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
</style>

<script src="~/js/Report.js"></script>

