@model AMS.Models.AssetViewModel.AssetCRUDViewModel
<div class="row" style="overflow-x:auto;">
    <table class="CustomBlueTable">
        <thead>
            <tr>
                <th>@Resource.Id</th>
                <th>@Resource.Asset</th>
                <th>@Resource.RequestedEmployee</th>
                <th>@Resource.ApprovedBy</th>
                <th>@Resource.RequestDetails</th>
                <th>@Resource.Status</th>
                <th>@Resource.RequestDate</th>
                <th>@Resource.ReceiveDate</th>
                <th>@Resource.Comment</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.listAssetRequestCRUDViewModel)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.AssetDisplay</td>
                        <td>@item.RequestedEmployeeDisplay</td>
                        <td>@item.ApprovedByEmployeeDisplay</td>
                        <td>@item.RequestDetails</td>
                        <td>@item.Status</td>
                        <td>@item.RequestDate</td>
                        <td>@item.ReceiveDate</td>
                        <td>@item.Comment</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
