@model AMS.Models.AssetRequestViewModel.AssetRequestCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr>
                <th>@Resource.Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Resource.Asset</th>
                <td>@Model.AssetDisplay</td>
            </tr>
            <tr>
                <th>@Resource.RequestedEmployee</th>
                <td>@Model.RequestedEmployeeDisplay</td>
            </tr>
            <tr>
                <th>@Resource.ApprovedBy</th>
                <td>@Model.ApprovedByEmployeeDisplay</td>
            </tr>
            <tr>
                <th>@Resource.RequestDetails</th>
                <td>@Model.RequestDetails</td>
            </tr>
            <tr>
                <th>@Resource.Status</th>
                <td>@Model.Status</td>
            </tr>
            <tr>
                <th>@Resource.RequestDate</th>
                <td>@Model.RequestDate</td>
            </tr>
            <tr>
                <th>@Resource.ReceiveDate</th>
                <td>@Model.ReceiveDate</td>
            </tr>
            <tr>
                <th>@Resource.Comment</th>
                <td>@Model.Comment</td>
            </tr>
            <tr>
                <th>@Resource.CreatedDate</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedDate</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>@Resource.CreatedBy</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedBy</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
