<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <a class="fa fa-plus-square fa-2x" onclick="AddEdit(0,'@Resource.EditAssetRequest','@Resource.AddAssetRequest')"></a>
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;@Resource.AssetRequestList</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblAssetRequest" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.Asset</th>
                        <th>@Resource.RequestedEmployee</th>
                        <th style="background-color: black;">@Resource.ApprovedBy</th>
                        <th>@Resource.Status</th>
                        <th>@Resource.RequestDate</th>
                        <th>@Resource.ReceiveDate</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@{
    var title = Resource.AssetRequestList;
    var edit = Resource.Edit;
    var delete = Resource.Delete;
    var yes = Resource.Yes;
    var assetreqdet = Resource.AssetRequestDetails;
    var editassetreq = Resource.EditAssetRequest;
    var addassetreq = Resource.AddAssetRequest;
    var delmsg = Resource.Msg_Delete;
    var assetreqdel = Resource.MSG_AssetReqDelete;
}
<div id="resourceTitle" data-title-msg="@title"></div>
<div id="resourceedit" data-edit-msg="@edit"></div>
<div id="resourcedelete" data-delete-msg="@delete"></div>
<div id="resourceyes" data-yes-msg="@yes"></div>
<div id="resourceassetreqdet" data-assetreqdet-msg="@assetreqdet"></div>
<div id="resourceEditassetreq" data-editassetreq-msg="@editassetreq"></div>
<div id="resourceAddassetreq" data-addassetreq-msg="@addassetreq"></div>
<div id="resourceDelMsg" data-delmsg-msg="@delmsg"></div>
<div id="resourceassetreqdel" data-assetreqdel-msg="@assetreqdel"></div>
<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/AssetRequest/AssetRequest_CRUD.js"></script>
<script src="~/js/AssetRequest/AssetRequest_Datatable.js"></script>
