@model AMS.Models.AssetHistoryViewModel.AssetHistoryCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr><th>@Resource.Id</th><td>@Model.Id</td></tr>
            <tr><th>@Resource.Asset_Id</th><td>@Model.AssetId</td></tr>
            <tr><th>@Resource.Action</th><td>@Model.Action</td></tr>
            <tr><th>@Resource.AssignEmployee</th><td>@Model.AssignEmployeeId</td></tr>
            <tr><th>@Resource.Note</th><td>@Model.Note</td></tr>
            <tr><th>@Resource.CreatedDate</th><td>@Model.CreatedDate</td></tr>
            <tr><th>@Resource.ModifiedDate</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>@Resource.CreatedBy</th><td>@Model.CreatedBy</td></tr>
            <tr><th>@Resource.ModifiedBy</th><td>@Model.ModifiedBy</td></tr>
        </table>
    </div>
</div>
