@model AMS.Models.AssetHistoryViewModel.AssetHistoryCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr><th>Id</th><td>@Model.Id</td></tr>
            <tr><th>Asset Id</th><td>@Model.AssetId</td></tr>
            <tr><th>Action</th><td>@Model.Action</td></tr>
            <tr><th>Assign Employee Id</th><td>@Model.AssignEmployeeId</td></tr>
            <tr><th>Note</th><td>@Model.Note</td></tr>
            <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
            <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
            <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
        </table>
    </div>
</div>
