@model AMS.Models.AuditLogs

<div style="overflow-x:auto;">
    <table class="CustomBlueTable">
        <tr>
            <th style="width: 150px;">@Resource.Id</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>@Resource.UserId</th>
            <td>@Model.UserId</td>
        </tr>
        <tr>
            <th>@Resource.Type</th>
            <td>@Model.Type</td>
        </tr>
        <tr>
            <th style="background-color: gray;">@Resource.TableName</th>
            <td>@Model.TableName</td>
        </tr>
        <tr>
            <th>@Resource.DateTime</th>
            <td>@Model.DateTime</td>
        </tr>
        <tr>
            <th>@Resource.OldValues</th>
            <td>@Model.OldValues</td>
        </tr>
        <tr>
            <th>@Resource.NewValues</th>
            <td>@Model.NewValues</td>
        </tr>
        <tr>
            <th>@Resource.AffectedColumns</th>
            <td>@Model.AffectedColumns</td>
        </tr>
        <tr>
            <th>@Resource.PrimaryKey</th>
            <td>@Model.PrimaryKey</td>
        </tr>
    </table>
</div>
