<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;@Resource.AuditLogsList</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblAuditLogs" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.UserId</th>
                        <th>@Resource.Type</th>
                        <th style="background-color: gray;">@Resource.TableName</th>
                        <th>@Resource.DateTime</th>
                        <th>@Resource.PrimaryKey</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@{
    var title = Resource.AuditLogs;
    var assetlogdetail = Resource.AuditLogsList;
}
<div id="resourcetitle" data-title="@title"></div>
<div id="resourceassetlogdetail" data-assetlogdetail="@assetlogdetail"></div>
<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/AuditLogs/AuditLogs_CRUD.js"></script>
<script src="~/js/AuditLogs/AuditLogs_Datatable.js"></script>
