@model AMS.Models.CommonViewModel.SendGridSettingViewModel
@{
    ViewData["Title"] = Resource.SMTPEmailSetting;
}

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable" border="1" style=" width:100%;margin:1px auto;">
            <tr>
                <th>@Resource.Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Resource.SendGridUser</th>
                <td>@Model.SendGridUser</td>
            </tr>
            <tr>
                <th>@Resource.SendGridKey</th>
                <td>@Model.SendGridKey</td>
            </tr>
            <tr>
                <th>@Resource.FromEmail</th>
                <td>@Model.FromEmail</td>
            </tr>
            <tr>
                <th>@Resource.FromFullName</th>
                <td>@Model.FromFullName</td>
            </tr>
            <tr>
                <th>@Resource.IsDefault</th>
                <td>@Model.IsDefault</td>
            </tr>
            <tr>
                <th>@Resource.CreatedDate</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedDate</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>@Resource.CreatedBy</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedBy</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>