@model AMS.Models.CommonViewModel.EmailSettingViewModel
@{
    ViewData["Title"] = Resource.UserRoleList;
}

<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">

        </div>
        <div class="panel-body scroll panel-height">
            <div class="panel panel-info col-lg-8">
                <div class="panel-heading"><h4><b>@Resource.SMTPSettings</b></h4></div>
                <br />
                <table class="CustomBlueTable" border="1" style=" width:100%;margin:1px auto;">
                    <tr>
                        <th>@Resource.UserName</th>
                        <td>@Model.SMTPEmailSettingViewModel.UserName</td>
                    </tr>
                    <tr>
                        <th>@Resource.Host</th>
                        <td>@Model.SMTPEmailSettingViewModel.Host</td>
                    </tr>
                    <tr>
                        <th>@Resource.Port</th>
                        <td>@Model.SMTPEmailSettingViewModel.Port</td>
                    </tr>
                    <tr>
                        <th>@Resource.FromEmail</th>
                        <td>@Model.SMTPEmailSettingViewModel.FromEmail</td>
                    </tr>
                    <tr>
                        <th>@Resource.FromFullName</th>
                        <td>@Model.SMTPEmailSettingViewModel.FromFullName</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-sm btn-danger" type="button" value="@Resource.Edit" onclick="SMTPEmailSettingAddEdit(@Model.SMTPEmailSettingViewModel.Id)" /> ||
                            <input class="btn btn-sm btn-danger" type="button" value="@Resource.Details" onclick="SMTPEmailSettingDetails(@Model.SMTPEmailSettingViewModel.Id)" />
                        </td>
                    </tr>
                </table>
                <div class="col-sm-6">

                </div>
            </div>

            <br />
            <div class="panel panel-info col-lg-8">
                <div class="panel-heading"><h4><b>@Resource.SendGridSettings</b></h4></div>
                <br />
                <table class="CustomBlueTable" border="1" style=" width:100%;margin:1px auto;">
                    <tr>
                        <th>@Resource.SendGridUser</th>
                        <td>@Model.SendGridSettingViewModel.SendGridUser</td>
                    </tr>
                    <tr>
                        <th>@Resource.SendGridKey</th>
                        <td>@Model.SendGridSettingViewModel.SendGridKey</td>
                    </tr>
                    <tr>
                        <th>@Resource.FromEmail</th>
                        <td>@Model.SendGridSettingViewModel.FromEmail</td>
                    </tr>
                    <tr>
                        <th>@Resource.FromFullName</th>
                        <td>@Model.SendGridSettingViewModel.FromFullName</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-sm btn-danger" type="button" value="@Resource.Edit" onclick="SendGridSettingAddEdit(@Model.SendGridSettingViewModel.Id)" /> ||
                            <input class="btn btn-sm btn-danger" type="button" value="@Resource.Details" onclick="SendGridSettingDetails(@Model.SendGridSettingViewModel.Id)" />
                        </td>
                    </tr>
                </table>
                <div class="col-sm-6">

                </div>
            </div>
            <br />
        </div>

        <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
    </div>
</div>

<partial name="~/Views/UIComponents/_MediumModal.cshtml" />
<script src="~/js/CRUD/EmailSetting_CRUD.js"></script>
