<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <a class="fa fa-plus-square fa-2x" onclick="AddEdit(0,'@Resource.EditRole','@Resource.AddRole')"></a>
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;@Resource.UserRolesList</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblManageUserRoles" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.Name</th>
                        <th>@Resource.Description</th>
                        <th>@Resource.CreatedDate</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@{
    var title = Resource.UserRole;
    var roledet = Resource.RoleDetails;
    var addrole = Resource.AddRole;
    var editrole = Resource.EditRole;
    var edit = Resource.Edit;
    var del = Resource.Delete;
    var msgdel = Resource.Msg_Delete;
    var yes = Resource.Yes;
    var delmsg = Resource.MSG_RoleDelSuccess;
}
<div id="restitle" data-title="@title"></div>
<div id="resourcedel" data-del="@del"></div>
<div id="resourceroledet" data-roledet="@roledet"></div>
<div id="resourceaddrole" data-addrole="@addrole"></div>
<div id="resourceeditrole" data-editrole="@editrole"></div>
<div id="resourceedit" data-edit="@edit"></div>
<div id="resourceaddrole" data-addrole="@del"></div>
<div id="resourcemsgdel" data-msgdel="@msgdel"></div>
<div id="resourceyes" data-yes="@yes"></div>
<div id="resourcedelmsg" data-delmsg="@delmsg"></div>
<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/ManageUserRoles/ManageUserRoles_CRUD.js"></script>
<script src="~/js/ManageUserRoles/ManageUserRoles_Datatable.js"></script>

