@model AMS.Models.AssetViewModel.AssetCRUDViewModel
<table class="CustomBlueTable" style="width:100%;" border="1">
    <tr>
        <th>@Resource.Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>@Resource.Asset_Id</th>
        <td>@Model.AssetId</td>
    </tr>
    <tr>
        <th>@Resource.Barcode</th>
        <td>
            <img src="@Model.Barcode" alt="" />
        </td>
    </tr>
    <tr>
        <th>@Resource.QRCode</th>
        <td>
            <img src="@Model.QRCodeImage" alt="" />
        </td>
    </tr>
    <tr>
        <th>@Resource.Asset_Model_No</th>
        <td>@Model.AssetModelNo</td>
    </tr>
    <tr>
        <th>@Resource.Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>@Resource.AssetStatus</th>
        <td>@Model.AssetStatusDisplay</td>
    </tr>
    <tr>
        <th>@Resource.Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>@Resource.Category</th>
        <td>@Model.CategoryDisplay</td>
    </tr>
    <tr>
        <th>@Resource.SubCategory</th>
        <td>@Model.SubCategoryDisplay</td>
    </tr>
    <tr>
        <th>@Resource.Quantity</th>
        <td>@Model.Quantity</td>
    </tr>
    <tr>
        <th>@Resource.UnitPrice</th>
        <td>@Model.UnitPrice</td>
    </tr>
    <tr>
        <th>@Resource.Supplier</th>
        <td>@Model.SupplierDisplay</td>
    </tr>
    <tr>
        <th>@Resource.Location</th>
        <td>@Model.Location</td>
    </tr>
    <tr>
        <th>@Resource.Department</th>
        <td>@Model.DepartmentDisplay</td>
    </tr>
    <tr>
        <th>@Resource.SubDepartment</th>
        <td>@Model.SubDepartmentDisplay</td>
    </tr>
    <tr>
        <th>@Resource.WarrantyInMonth</th>
        <td>@Model.WarranetyInMonth</td>
    </tr>
    <tr>
        <th>@Resource.DepreciationInMonth</th>
        <td>@Model.DepreciationInMonth</td>
    </tr>
    <tr>
        <th>@Resource.Image</th>
        <td>
            <div class="user-panel mt-2 pb-2 mb-2 d-flex">
                <div class="image">
                    <img src="@Model.ImageURL" class="img-circle elevation-2" alt="Asset Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block" onclick="ViewImage('@Model.ImageURL', '@Model.Name')">
                        @Model.Name
                    </a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>@Resource.PurchaseReceipt</th>
        <td>
            @if (Model.PurchaseReceipt != null)
            {
                <span>@Model.PurchaseReceipt</span>
                <input type="button" id="btnDownloadPurchaseReceipt" class="btn btn-xs btn-danger" value="@Resource.Download"
                    onclick="DownloadPurchaseReceipt(@Model.Id);" />
            }
        </td>
    </tr>
    <tr>
        <th>@Resource.Date_Of_Purchase</th>
        <td>@Model.DateOfPurchase</td>
    </tr>
    <tr>
        <th>@Resource.ManufactureDate</th>
        <td>@Model.DateOfManufacture</td>
    </tr>
    <tr>
        <th>@Resource.ValuationYear</th>
        <td>@Model.YearOfValuation</td>
    </tr>
    <tr>
        <th>@Resource.AssignUserId</th>
        <td>@Model.AssignEmployeeId</td>
    </tr>
    <tr>
        <th>@Resource.IsAvilable</th>
        <td>@Model.IsAvilable</td>
    </tr>
    <tr>
        <th>@Resource.Note</th>
        <td>@Model.Note</td>
    </tr>
    <tr>
        <th>@Resource.CreatedDate</th>
        <td>@Model.CreatedDate</td>
    </tr>
    <tr>
        <th>@Resource.ModifiedDate</th>
        <td>@Model.ModifiedDate</td>
    </tr>
    <tr>
        <th>@Resource.CreatedBy</th>
        <td>@Model.CreatedBy</td>
    </tr>
    <tr>
        <th>@Resource.ModifiedBy</th>
        <td>@Model.ModifiedBy</td>
    </tr>
</table>

<script>
    var DownloadPurchaseReceipt = function (id) {
        $("#btnDownloadPurchaseReceipt").val('@Resource.Download' + "...");
        $("#btnDownloadPurchaseReceipt").attr("disabled", "disabled");

        $.ajax({
            type: "GET",
            url: "/Asset/DownloadPurchaseReceipt?id=" + id,
            success: function (result) {
                var _base64ToArrayBuffer = base64ToArrayBuffer(result.DocByte);
                saveByteArray(result.FileName, _base64ToArrayBuffer, result.ContentType);

                setTimeout(function () {
                    $("#btnDownloadPurchaseReceipt").val('@Resource.Download');
                    $("#btnDownloadPurchaseReceipt").removeAttr('disabled');
                    toastr.success(@Resource.FileDownload);
                }, 1500);
            }
        });
    }

    var base64ToArrayBuffer = function (base64) {
        var binaryString = window.atob(base64);
        var binaryLen = binaryString.length;
        var bytes = new Uint8Array(binaryLen);
        for (var i = 0; i < binaryLen; i++) {
            var ascii = binaryString.charCodeAt(i);
            bytes[i] = ascii;
        }
        return bytes;
    }
    var saveByteArray = function (reportName, byte, _type) {
        var blob = new Blob([byte], { type: _type });
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        var fileName = reportName;
        link.download = fileName;
        link.click();
    };
</script>
