<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">                    
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;@Resource.Asset_List</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblAsset" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.Image</th>
                        <th>@Resource.Asset_Id</th>
                        <th>@Resource.Asset_Model_No</th>
                        <th>@Resource.Name</th>
                        <th>@Resource.UnitPrice</th>
                        <th>@Resource.Date_Of_Purchase</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/js/Asset/AssetGeneral_Datatable.js"></script>