
<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">
                    <a class="fa fa-plus-square fa-2x" onclick="AddEdit(0,'@Resource.EditAsset','@Resource.AddAsset')"></a>
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;@Resource.Asset_List</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblAsset" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.Image</th>
                        <th>@Resource.Asset_Id</th>
                        <th>@Resource.Asset_Model_No</th>
                        <th>@Resource.Name</th>
                        <th>@Resource.Unit_Price</th>
                        <th>@Resource.Date_Of_Purchase</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/js/Asset/AllocateAsset_Func.js"></script>
<script src="~/js/Asset/AssetAdmin_Datatable.js"></script>