@model AMS.Models.UserProfileViewModel.ResetPasswordViewModel

<div>
    <div class="row">
        <div class="col-md-12">
            <form id="frmResetPasswordGeneral">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ApplicationUserId" id="ApplicationUserId_ResetPasswordGeneral" />

                <div class="form-group">
                    <label class="control-label">@Resource.OldPassword</label>
                    <input asp-for="OldPassword" class="form-control" type="password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@Resource.NewPassword</label>
                    <input asp-for="NewPassword" class="form-control" type="password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@Resource.ConfirmPassword</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="button" value="@Resource.ResetPassword" onclick="SaveResetPasswordGeneral()" class="btn btn-info">
                    <button type="button" id="btnResetPasswordGeneralClose" class="btn btn-danger" data-dismiss="modal">@Resource.Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
