@model AMS.Models.AssetIssueViewModel.AssetIssueCRUDViewModel

@{
    ViewData["Title"] = Resource.Create;
}

<div>
    <div class="row">
        <div class="col-md-12">
            <form id="frmAssetIssue">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="hidden" asp-for="CreatedBy" />

                <div class="row">
                    <div class="col-6 col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Resource.AssetId</label>
                            <div class="col-sm-9">
                                <select asp-for="AssetId" asp-items="@ViewBag.LoadddlAssetName" id="AssetId"
                                    class="form-control" style="width:100%;">
                                    <option disabled selected>--- @Resource.Select ---</option>
                                </select>
                                <span asp-validation-for="AssetId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Resource.RaisedBy</label>
                            <div class="col-sm-9">
                                <select asp-for="RaisedByEmployeeId" asp-items="@ViewBag.LoadddlEmployee"
                                    id="RaisedByEmployeeId" class="form-control" style="width:100%;">
                                    <option disabled selected>--- @Resource.Select ---</option>
                                </select>
                                <span asp-validation-for="RaisedByEmployeeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Resource.IssueDescription</label>
                            <div class="col-sm-9">
                                <textarea asp-for="IssueDescription" class="form-control" id="IssueDescription"
                                    rows="3"></textarea>
                                <span asp-validation-for="IssueDescription" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Resource.Status</label>
                            <div class="col-sm-9">
                                <select asp-for="Status" id="Status" class="form-control" required>
                                    <option value="none" selected>@Resource.SelectStatus</option>
                                    <option value="New">@Resource.New</option>
                                    <option value="In Progress">@Resource.InProgress</option>
                                    <option value="Resolved">@Resource.Resolved</option>
                                    <option value="Blocker">@Resource.Blocker</option>
                                    <option value="Pending">@Resource.Pending</option>
                                    <option value="Hold">@Resource.Hold</option>
                                    <option value="Rejected">@Resource.Rejected</option>
                                    <option value="Accepted">@Resource.Accepted</option>
                                    <option value="Close">@Resource.Close</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Resource.ExpectedFixDate</label>
                            <div class="col-sm-9">
                                <input asp-for="ExpectedFixDate" class="form-control" id="ExpectedFixDate" type="Date" />
                                <span asp-validation-for="ExpectedFixDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Resource.ResolvedDate</label>
                            <div class="col-sm-9">
                                <input asp-for="ResolvedDate" class="form-control" id="ResolvedDate" type="Date" />
                                <span asp-validation-for="ResolvedDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">@Resource.Comment</label>
                            <div class="col-sm-9">
                                <textarea asp-for="Comment" class="form-control" id="Comment" rows="2"></textarea>
                                <span asp-validation-for="Comment" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="button" id="btnSave" value="@Resource.Save" onclick="SaveAssetIssue()"
                                    class="btn btn-info">
                                <button type="button" id="btnClose" class="btn btn-danger"
                                    data-dismiss="modal">@Resource.Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
