@model AMS.Models.AssetViewModel.AssetCRUDViewModel
<div class="row" style="overflow-x:auto;">
    <table class="CustomBlueTable">
        <thead>
            <tr>
                <th>@Resource.Id</th>
                <th>@Resource.Asset</th>
                <th>@Resource.RaisedBy</th>
                <th>@Resource.IssueDescription</th>
                <th>@Resource.Status</th>
                <th>@Resource.ExpectedFixDate</th>
                <th>@Resource.ResolvedDate</th>
                <th>@Resource.Comment</th>
                <th>@Resource.CreatedDate</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.listAssetIssueCRUDViewModel)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.AssetDisplay</td>
                        <td>@item.RaisedByEmployeeDisplay</td>
                        <td>@item.IssueDescription</td>
                        <td>@item.Status</td>
                        <td>@item.ExpectedFixDate</td>
                        <td>@item.ResolvedDate</td>
                        <td>@item.Comment</td>
                        <td>@item.CreatedDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
