@model AMS.Models.AssetIssueViewModel.AssetIssueCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr>
                <th>@Resource.Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Resource.Asset</th>
                <td>@Model.AssetDisplay</td>
            </tr>
            <tr>
                <th>@Resource.RaisedBy</th>
                <td>@Model.RaisedByEmployeeDisplay</td>
            </tr>
            <tr>
                <th>@Resource.IssueDescription</th>
                <td>@Model.IssueDescription</td>
            </tr>
            <tr>
                <th>@Resource.Status</th>
                <td>@Model.Status</td>
            </tr>
            <tr>
                <th>@Resource.ExpectedFixDate</th>
                <td>@Model.ExpectedFixDate</td>
            </tr>
            <tr>
                <th>@Resource.ResolvedDate</th>
                <td>@Model.ResolvedDate</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>@Model.Comment</td>
            </tr>
            <tr>
                <th>@Resource.CreatedDate</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedDate</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>@Resource.CreatedBy</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedBy</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
