@model AMS.Models.LoginHistoryViewModel.LoginHistoryCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="CustomBlueTable">
            <tr><th>@Resource.Id</th><td>@Model.Id</td></tr>
            <tr><th>@Resource.UserName</th><td>@Model.UserName</td></tr>
            <tr><th>@Resource.LoginTime</th><td>@Model.LoginTime</td></tr>
            <tr><th>@Resource.LogoutTime</th><td>@Model.LogoutTime</td></tr>
            <tr><th>@Resource.Duration</th><td>@Model.Duration</td></tr>
            <tr><th>@Resource.PublicIP</th><td>@Model.PublicIP</td></tr>
            <tr><th>@Resource.Latitude</th><td>@Model.Latitude</td></tr>
            <tr><th>@Resource.Longitude</th><td>@Model.Longitude</td></tr>
            <tr><th>@Resource.Browser</th><td>@Model.Browser</td></tr>
            <tr><th>@Resource.OperatingSystem</th><td>@Model.OperatingSystem</td></tr>
            <tr><th>@Resource.Device</th><td>@Model.Device</td></tr>

            <tr><th>@Resource.Action</th><td>@Model.Action</td></tr>
            <tr><th>@Resource.ActionStatus</th><td>@Model.ActionStatus</td></tr>
            <tr><th>@Resource.CreatedDate</th><td>@Model.CreatedDate</td></tr>
            <tr><th>@Resource.ModifiedDate</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>@Resource.CreatedBy</th><td>@Model.CreatedBy</td></tr>
            <tr><th>@Resource.ModifiedBy</th><td>@Model.ModifiedBy</td></tr>
            <tr><th>@Resource.Cancelled</th><td>@Model.Cancelled</td></tr>
        </table>
    </div>
</div>
