@{
    ViewData["Title"] = Resource.LoginHistory;
}

<div class="wrapper">
    <div class="panel panel-hash">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 pull-right">
                <h5 class="pull-right"><b>@Resource.LoginHistory</b></h5>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblLoginHistoryInfo" class="CustomBlueTable" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.UserName</th>
                        <th>@Resource.LoginTime</th>
                        <th>@Resource.LogoutTime</th>
                        <th>@Resource.Duration</th>
                        <th>@Resource.PublicIP</th>
                        <th>@Resource.Latitude</th>
                        <th>@Resource.Longitude</th>
                        <th>@Resource.Browser</th>
                        <th>@Resource.OS</th>
                        <th>@Resource.Device</th>
                        <th>@Resource.Action</th>
                        <th>@Resource.ActionStatus</th>

                        <th>@Resource.CreatedDate</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>

<partial name="~/Views/UIComponents/_MediumModal.cshtml" />

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/LoginHistory/LoginHistory_CRUD.js"></script>
<script src="~/js/LoginHistory/LoginHistory_Datatable.js"></script>

