@model AMS.Models.UserInfoFromBrowserViewModel.UserInfoFromBrowserCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr>
                <th>@Resource.Id</th>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <th>@Resource.BrowserUniqueID</th>
                <td>@Model.BrowserUniqueID</td>
            </tr>
            <tr>
                <th>@Resource.Lat</th>
                <td>@Model.Lat</td>
            </tr>
            <tr>
                <th>@Resource.Long</th>
                <td>@Model.Long</td>
            </tr>
            <tr>
                <th>@Resource.TimeZone</th>
                <td>@Model.TimeZone</td>
            </tr>
            <tr>
                <th>@Resource.BrowserMajor</th>
                <td>@Model.BrowserMajor</td>
            </tr>
            <tr>
                <th>@Resource.BrowserName</th>
                <td>@Model.BrowserName</td>
            </tr>
            <tr>
                <th>@Resource.BrowserVersion</th>
                <td>@Model.BrowserVersion</td>
            </tr>
            <tr>
                <th>@Resource.CPUArchitecture</th>
                <td>@Model.CPUArchitecture</td>
            </tr>
            <tr>
                <th>@Resource.DeviceModel</th>
                <td>@Model.DeviceModel</td>
            </tr>
            <tr>
                <th>@Resource.DeviceType</th>
                <td>@Model.DeviceType</td>
            </tr>
            <tr>
                <th>@Resource.DeviceVendor</th>
                <td>@Model.DeviceVendor</td>
            </tr>
            <tr>
                <th>@Resource.EngineName</th>
                <td>@Model.EngineName</td>
            </tr>
            <tr>
                <th>@Resource.EngineVersion</th>
                <td>@Model.EngineVersion</td>
            </tr>
            <tr>
                <th>@Resource.OSName</th>
                <td>@Model.OSName</td>
            </tr>
            <tr>
                <th>@Resource.OS Version</th>
                <td>@Model.OSVersion</td>
            </tr>
            <tr>
                <th>@Resource.UA</th>
                <td>@Model.UA</td>
            </tr>
            <tr>
                <th>@Resource.CreatedDate</th>
                <td>@Model.CreatedDate</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedDate</th>
                <td>@Model.ModifiedDate</td>
            </tr>
            <tr>
                <th>@Resource.CreatedBy</th>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <th>@Resource.ModifiedBy</th>
                <td>@Model.ModifiedBy</td>
            </tr>
        </table>
    </div>
</div>
