<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-5">                 
                    <a class="fa fa-plus-square fa-2x" onclick="AddEdit(0)"></a>
                </div>
                <div class="col-md-7 pull-right">
                    <h5 class="pull-right"><b>&nbsp;@Resource.UserInfoBrowserList</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblUserInfoFromBrowser" class="ItemTranTable" style="width:100%">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.BrowserUniqueID</th>
                        <th>@Resource.Lat</th>
                        <th>@Resource.Long</th>
                        <th>@Resource.TimeZone</th>
                        <th>@Resource.BrowserMajor</th>
                        <th>@Resource.BrowserName</th>
                        <th>@Resource.CreatedDate</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@{
    var title = Resource.UserInfoBrowserList;
    var userInfobrowdet = Resource.UserInfoBrowserDet;
}
<div id="restitle" data-title="@title"></div>
<div id="resuserInfobrowdet" data-userInfobrowdet="@userInfobrowdet"></div>
<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/UserInfoFromBrowser/UserInfoFromBrowser_CRUD.js"></script>
<script src="~/js/UserInfoFromBrowser/UserInfoFromBrowser_Datatable.js"></script>
